APP_NAME=SmartAvtoServis
APP_URL=http://localhost/sav/public
APP_ENV=development
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=smartavto
DB_USER=root
DB_PASS=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM=+1234567890

SESSION_LIFETIME=7200
UPLOAD_MAX_MB=5
